@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mission 4</title>
    <link rel="icon" type="image/x-icon" href="images/josh.jpg" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
</head>
<body>
    <h1>Josh Judkins</h1>
    <img src="images/josh.jpg" />
    <br>
    <br />
    <h3>What I hope to get out of IS 413</h3>
    <p>
        By the end of this course I hope to have a good understanding of "Client- and server-side programming. <br />Internet and Web-based applications.
        Enterprise systems and architectures using ASP.NET MVC Core / C# <br />with React." I hope to learn valuable information on web development that will help
        me in the real world.
    </p>

    <h3>List of top 3 jobs</h3>
    <ul>
        <li>Software Engineer</li>
        <li>Solution Engineer</li>
        <li>Product Manager</li>
    </ul>
</body>
</html>





